.top-navigation{
  background-color: $blue-darker;
  color:white;
  font-family: 'roboto', sans-serif;
  font-size:1rem;

  .container{
    display:flex;
    height:42px;
    justify-content: space-between;
    align-items:center;

    a{
      color:white;
      text-decoration: none;

      &:not(:last-child):after{
        content: ' |';
        margin: 0 20px;
        color:$blue + 20%;
      }

      &.btn-down{
        background-color: #3576be;
        padding:7px 10px;
        border-radius: 3px;
        text-transform: uppercase;
      }
    }
  }
}
