.main-navigation {
  height: 54px;
  display: flex;
}

.main-navigation__button {
  flex-grow: 1;
  background-color: $yellow;
  color: black;
  height: 100%;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  font-family: "Roboto Medium", sans-serif;
  font-size:14px;
  text-transform: uppercase;
}

.main-navigation__menu {
  background-color: $gray-darker;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding:0 10px;

  > nav > a {
    color: #eeeeee;
    text-decoration: none;
    font-family: "Raleway SemiBold", sans-serif;
    text-transform: uppercase;
    margin-left: 30px;
    position:relative;
  }

  .label{
    position:absolute;
    top:-28px;
    right:0;
    padding:2px 4px;
    border-right: 2px;

    &:after{
      display: block;
      content: '';
      width:0;
      height:0;
      position:absolute;
      $border-width:8px;
      border-left: $border-width solid transparent;
      border-right: $border-width solid transparent;
      border-top-width: $border-width;
      border-top-style: solid;
    }
  }

  .label-hot{
    background-color: $label-pink;

    &:after{
      border-top-color: $label-pink;
    }
  }

  .label-new{
    background-color: $label-blue;

    &:after{
      border-top-color: $label-blue;
    }
  }
}

.main-navigation__infos{
  text-transform: uppercase;
  color:#bbbbbb;
  font-family: 'roboto', sans-serif;
}

.main-navigation__phone{
  background-color: $yellow;
  padding:3px 5px;
  color:black;
}