html{
  font-size:12px;
}
html, body{
  margin:0;
  padding:0;
}

@import 'variables.scss';
@import 'grid.scss';
@import 'header/header';
@import 'header/top-navigation';
@import 'header/shopping-bar';
@import 'header/main-navigation';

@import 'footer/footer';
@import 'footer/signup-bar';