html{
  font-size:12px;
}
html, body{
  margin:0;
  padding:0;
}

@import 'variables.scss';
@import 'grid.scss';
@import 'header';
@import 'top-navigation';
@import 'shopping-bar';
@import 'main-navigation';